*{
  margin: 0;
  padding: 0;
}
body{
  background-color: hsl(0, 0%, 100%);
  width: 700px ;
}
.App{
  width: 100vw;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.nav-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
}

.nav-li {
  padding: 20px;
  text-decoration: none;
  display: inline-block;

}

a{
  display: block;
  color:  hsl(233, 8%, 62%);
  text-align: center;
  text-decoration: none;
}

.btn {
  width:120px;
  height: 25px;
  border-radius: 30px;
  background-image: linear-gradient(to right, hsl(136, 80%, 77%),hsl(192, 89%, 74%)
  );
  color: #fff;
}

section {
  padding: 10px;
}

.hero {
  display: flex;
  justify-content: space-between;

}

.hero-text {
  width: 400px;
  margin-left: 160px;
  margin-top: 60px;
  
}

p {
 color: hsl(233, 8%, 62%) ;

}
.text {
  font-size: 45px;
  color: hsl(0, 2%, 24%);
}

.passage {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 10px;
  color: hsl(233, 8%, 62%) ;
}

.hero-img {
  position: relative;
  height: 350px;
  margin-left: 10px;
  gap: 30px;
}
.background-hero {
  width: 750px;
  height: 650px;
  position: absolute;
  right: 1%;
  z-index: -1;
}

.hero-image {
  width: 550px;
  height: 550px;
}

.info {
  margin-top: 100px;
  background-color: hsl(0, 0%, 98%) ;
  height: 420px;
  padding-left: 200px;
  padding-right: 200px;
}

.question{
  width: 420px;
  margin-top: 50px;
}
.heading {
  font-size: 35px;
}

.why{
  margin-top:20px;
}

.info-block{
  display: flex;
  justify-content: space-between;
}

.information {
  width: 320px;
  height: 200px;
  line-height: 1.5;
  margin-top: 30px;
  padding: 10px;
}

h5 {
  font-size: 15px;
  margin-top: 10px;
}

.info-passage {
  margin-top: 20px;
}

.Articles {
  display: flex;
  justify-content: center;
  
}
.articles{
  display: flex;
  padding: 25px;
}

.single-article {
  width: 170px;
}
.Article-image img{
  width: 170px;
  border-radius: 6px;
}

.article-author{
  margin-top: 10px;
}

.article-title{
  margin-top: 10px;
  width: 140px;
  font-size: 13px;
}

.article-passage{
  margin-top: 10px;
  width: 173px;
}

.Articles-header{
  font-size: 40px;
  padding-left: 265px ;
  font-weight: 200;
}

footer {
  background-color: hsl(233, 26%, 24%) ;
  display: flex;
  padding: 30px;
}
.blogo{
  margin-top: 20px;
  padding-left: 220px;
}
.socials {
  margin-top:30px;
  padding-left: 220px;
}

.webpages{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-left: 50px;
  
}

ul{
  text-decoration: none;
  list-style-type: none;
}

.ACB, .CSR {
  width: 120px;
  margin-top: 20px;
  padding-left: 10px;
  color : hsl(233, 8%, 62%);
  font-size: 15px;
  list-style-type: none;
  line-height: 1.5;
}

.invite-copyright{
  padding-left: 230px;
  justify-content: center;
  margin-top: 30px;
}

.copyright{
  margin-top: 10px;
}

.soc{
  padding-left:3px;
}